
@{
    ViewBag.Title = "Косметологические услуги";
}

<main class="container-fluid">
	<div class="row">
		<div id="cosmetTitleContainer" class="col-sm-10 col-sm-offset-1">
			<h2 class="cosmetItem">
				КОСМЕТОЛОГИЧЕСКИЕ УСЛУГИ
			</h2>
		</div>
		<div id="cosmetDescription" class="col-sm-10 col-sm-offset-1">
			<p class="cosmetItem cosmetArticle">
				Предлагаем посетить наш косметологический кабинет, где высококвалифицированные 
				специалисты с медицинским образованием подберут специальную программу ухода за Вашим лицом.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 cosmetImages">
				<img src="~/images/ServicesImages/multiCosmetology.jpg" alt="cosmetPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="cosmetItem cosmetTitle">
				АТРАВМАТИЧЕСКАЯ ЧИСТКА ЛИЦА
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="cosmetItem cosmetArticle">
				Атравматическая (ультразвуковая) чистка кожи – безопасная и безболезненная процедура для эффективного очищения кожи
			</p>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="cosmetItem cosmetArticle">
				Атравматическая чистка лица позволяет освободить кожу от глубоких загрязнений, а также от ороговевших клеток эпидермиса.
				Избавившись от лишнего груза, клетки кожи получают больше кислорода, улучшается проницаемость кожного покрова, активизируются процессы регенерации. 
				В результате качественной профессиональной чистке кожа не только выглядит лучше, она оздоровляется, получает стимул к естественному омоложению.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 cosmetImages">
				<img src="~/images/ServicesImages/cosmetClearFace.jpg" alt="cosmetPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="cosmetItem cosmetTitle">
				КАРБОКСИТЕРАПИЯ
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="cosmetItem cosmetArticle">
				Карбокситерапия безинъекционная – это современная методика омоложения. От инъекционной карбокситерапии этот метод отличается тем,
				что средство с молекулами углекислоты наносится на кожу. Сверху лицо покрывается специальной маской. Молекулы СО2 хорошо проникают в кровеносные сосуды.
				Процедура не травмирует ткани и совершенно безболезненна.
			</p>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="cosmetItem cosmetArticle">
				Процедура улучшает качество кожного покрова, уменьшает проявление пигментации, подтягивает кожу, разглаживает мелкие морщинки. После курса карбокситерапии проходит отечность и воспаление. 
				Лицо становится светлее, кожа выглядит здоровой.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 cosmetImages">
				<img src="~/images/ServicesImages/karboksitherapy.jpg" alt="cosmetPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="cosmetItem cosmetTitle">
				ПИЛИНГ
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="cosmetItem cosmetArticle">
				Оздоровить кожу, убрав ороговевший слой. Вернуть ей здоровый румянец. Устранить появившиеся недостатки, такие как угри, мелкие рубцы и морщинки.
				Все это возможно пройдя сеанс очищения кожи пилингом.
			</p>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="cosmetItem cosmetArticle">
				Это процедура очищения и обновления кожи, предназначенная для коррекции косметологических дефектов. При пилинге верхний ороговевший слой кожи полностью 
				снимается и запускается процесс ее восстановления. Результат зависит от вида пилинга и глубины воздействия. Но даже поверхностный пилинг дает потрясающий эффект:
				кожа подтягивается, уходят неровности и мелкие морщинки.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 cosmetImages">
				<img src="~/images/ServicesImages/peeling.png" alt="cosmetPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
</main>
