
@{
    ViewBag.Title = "Процедуры для волос";
}

<main class="container-fluid">
	<div class="row">
		<div id="hairProceduresTitleContainer" class="col-sm-10 col-sm-offset-1">
			<h2 class="hairProcedItem">
				ПРОЦЕДУРЫ ДЛЯ ВОЛОС
			</h2>
		</div>
		<div id="hairProceduresDescription" class="col-sm-10 col-sm-offset-1">
			<p class="hairProcedItem hairProcedArticle">
				Попробуйте быстрое и эффективное восстановление волос благодаря салонным процедурам с использованием профессиональной косметики.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="hairProcedItem hairProcedTitle">
				Процедура "Воздушный объем"
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="hairProcedItem hairProcedArticle">
				Идеально подойдет для клиентов с тонкими волосами, которые мечтают одновременно получить роскошный объем и реконструкцию волос.
			</p>
			<p class="hairProcedItem hairProcedArticle">
				Проблема: Тонкие, вялые, поврежденные, безжизненные волосы, которым не хватает плотности, объема, гладкости и блеска.
			</p>
			<p class="hairProcedItem hairProcedArticle">
				Эффект: Волосы объемные и плотные, укладка сохраняется намного дольше.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 hairProcedImages">
				<img src="~/images/ServicesImages/procedAirHair.jpg" alt="hairProcedPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="hairProcedItem hairProcedTitle">
				Процедура "Экспресс-реконструкция"
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="hairProcedItem hairProcedArticle">
				Это настоящее спасение для всех, кто живет в сумасшедшем ритме больших городов. Если обычная процедура реконструкции занимает около получаса,
				то «Экспресс-реконструкция» —  до 15 минут. Процедура рекомендована для всех, кто имеет слабые, ломкие волосы и секущиеся кончики, тем,  у кого нет возможности тратить лишние минуты на полную версию процедуры реконструкции волос.
			</p>
			<p class="hairProcedItem hairProcedArticle">
				Проблема: Поврежденные, хрупкие, пористые, вялые волосы, ломкие волосы, секущиеся концы.
			</p>
			<p class="hairProcedItem hairProcedArticle">
				Эффект: Восстановление по всей длине, блестящие, гладкие и здоровые волосы. Эффект  держится в течение 2-4 недель.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 hairProcedImages">
				<img src="~/images/ServicesImages/procedReconstr.jpg" alt="hairProcedPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="hairProcedItem hairProcedTitle">
				Процедура "Яркость цвета"
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="hairProcedItem hairProcedArticle">
				Подойдет для всех типов окрашенных волос, которым необходимо больше интенсивности цвета, блеска и защиты окрашенных волос вплоть до последующего окрашивания.
			</p>
			<p class="hairProcedItem hairProcedArticle">
				Проблема: Окрашенные, тусклые, сухие волосы, которым не хватает вибрации цвета и блеска.
			</p>
			<p class="hairProcedItem hairProcedArticle">
				Эффект: Интенсивность цвета сохраняется на длительный срок, волосы блестящие, гладкие и эластичные.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 hairProcedImages">
				<img src="~/images/ServicesImages/procedBrightColor.jpg" alt="hairProcedPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="hairProcedItem hairProcedTitle">
				Процедура "Абсолютное увлажнение"
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="hairProcedItem hairProcedArticle">
				Подойдет для сухих, ломких и тусклых волос, которым необходимо интенсивное  и мгновенное увлажнение. 
				Особенно актуальна процедура становится после зимних/летних месяцев, когда волосам требуется мощный глоток свежести.
			</p>
			<p class="hairProcedItem hairProcedArticle">
				Проблема: Чрезвычайно сухие и пушащиеся волосы, которым не хватает эластичности, гладкости.
			</p>
			<p class="hairProcedItem hairProcedArticle">
				Эффект: Вьющиеся волос еще более мягкие, блестящие, упругие и увлажненные.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 hairProcedImages">
				<img src="~/images/ServicesImages/procedHairWetting.jpg" alt="hairProcedPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
</main>