
@{
    ViewBag.Title = "Окрашивание";
}

<main class="container-fluid">
	<div class="row">
		<div id="hairColoringTitleContainer" class="col-sm-10 col-sm-offset-1">
			<h2 class="hairColorItem">
				ОКРАШИВАНИЕ
			</h2>
		</div>
		<div id="hairColoringDescription" class="col-sm-10 col-sm-offset-1">
			<p class="hairColorItem hairColorArticle">
				В женской природе заложено желание экспериментировать с внешностью, меняя образы. 
				Каждая женщина знает, что поход к парикмахеру и стилисту снимает усталость и стресс, а новая стрижка или цвет волос – это первая ступенька к приятным изменениям в жизни.
			</p>
			<p class="hairColorItem hairColorArticle">
				Салон красоты Сkарлет предлагает различные техники окрашивания волос, которые помогут сделать образ интересным и неповторимым, найти свою индивидуальность и подчеркнуть стиль.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 hairColorImages">
			<img src="~/images/ServicesImages/hairColoring.jpg" alt="hairColorPhoto" class="img-responsive ">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="hairColorItem hairColorTitle">
				Техника окрашивания Омбре
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="hairColorItem hairColorArticle">
				Данная техника не теряет популярности уже много сезонов. Один из секретов ее востребованности – универсальность. 
				Это двутональное окрашивание с плавным переходом будет одинаково хорошо смотреться на волосах любой длины и цвета. 
				Обычно для покраски выбирают натуральные, близкие к естественным, оттенки – русый, кофейный, шоколадный и т.д.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 hairColorImages">
				<img src="~/images/ServicesImages/hairColorOmbre.jpg" alt="hairColorPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="hairColorItem hairColorTitle">
				Техника окрашивания Шатум
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="hairColorItem hairColorArticle">
				Данный способ покраски волос подойдет блондинкам и брюнеткам. Эта щадящая техника позволяет создать плавные переходы между оттенками, 
				благодаря чему пряди выглядят очень натурально. Шатуш позволяет придать волосам объем и густоту.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 hairColorImages">
				<img src="~/images/ServicesImages/hairColorShatum3.jpg" alt="hairColorPhoto" class="img-responsive ">
				<img src="~/images/ServicesImages/hairColorShatum1.jpg" alt="hairColorPhoto" class="img-responsive ">
				<img src="~/images/ServicesImages/hairColorShatum2.jpg" alt="hairColorPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="hairColorItem hairColorTitle">
				Техника окрашивания Балаяж
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="hairColorItem hairColorArticle">
				В этом варианте окрашивания используется несколько оттенков, позволяющих создавать видимые четкие границы между ними. 
				Выбор тонов и техники их нанесения зависит от длины волос и индивидуальных особенностей женщины. Эта техника хорошо смотрится на обладательницах кудрей.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 hairColorImages">
				<img src="~/images/ServicesImages/hairColorBalayag.jpg" alt="hairColorPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="hairColorItem hairColorTitle">
				Какую технику окрашивания выбрать?
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="hairColorItem hairColorArticle">
				Самое главное правило при выборе цвета и техники окрашивания – ориентируйтесь не только на модные тенденции, 
				а на особенности своей внешности. Ведь как бы красиво не выглядела покраска на понравившемся вам фото, не факт, что этот оттенок будет так же эффектно смотреться на вас.
				Поэтому перед покраской рекомендуем вам проконсультироваться с профессиональным колористом Салона красоты Сkарлет.
			</p>
			<p class="hairColorItem hairColorArticle">
				Не зависимо от природного цвета, опытный колорист поможет подобрать необходимую цветовую гамму, ориентируясь на оттенок вашей кожи, цвет глаз, стрижку и тип волос. 
				Также парикмахер-стилист сориентирует в техниках колорирования и подскажет оригинальное решение, которое поможет подчеркнуть вашу индивидуальность и неповторимость.
			</p>
		</div>
	</div>
</main>