
@{
    ViewBag.Title = "Визаж";
}

<main class="container-fluid">
	<div class="row">
		<div id="makeUpTitleContainer" class="col-sm-10 col-sm-offset-1">
			<h2 class="makeUpItem">
				ВИЗАЖ
			</h2>
		</div>
		<div id="makeUpDescription" class="col-sm-10 col-sm-offset-1">
			<p class="makeUpItem makeUpArticle">
				Макияж – это замечательная возможность подчеркнуть красивые черты лица и скрыть все недостатки и дефекты. 
			</p>
			<p class="makeUpItem makeUpArticle">
				Визаж – это искусство и оно должно быть в руках профессионалов, которые обладают знаниями колористики, чувством цвета и гармонии. 
				Профессиональный визаж – незаменим в торжественных и ответственных случаях, когда необходимо выглядеть превосходно и уверенно.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="makeUpItem hairProcedTitle">
				Дневной макияж
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="makeUpItem makeUpArticle">
				В дневном макияже используются легкие текстурные тональные основы и миниральная пудра. Оттенки подбираются натуральные. Основная цель: скорректировать овал лица, выровнять тон кожи, выполнить макияж в естественных тонах.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 makeUpImages">
				<img src="~/images/ServicesImages/makeUpDaily1.jpg" alt="makeUpPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="makeUpItem hairProcedTitle">
				Экспресс-макияж
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="makeUpItem makeUpArticle">
				Если Вы не располагаете временем, а Вам необходимо хорошо выглядеть, приходите к нам в салон. Мы выполним качественный экспресс – макияж. Экспресс – макияж основывается на коррекции овала и тона лица, а также придает выражения глазам. 
				Данный вид макияжа выполняется за 30 минут. В салоне Сkарлет все мастера парикмахерского зала стилисты – универсалы. А это значит, что мы можем быстро и эффективно «в четыре руки» сделать Вам экспресс – прическу и визаж. 
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 makeUpImages">
				<img src="~/images/ServicesImages/makeUpExpress.jpg" alt="makeUpPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="makeUpItem hairProcedTitle">
				Вечерний макияж
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="makeUpItem makeUpArticle">
				На торжественном вечере или просто в ресторане вечерний макияж станет одним из основных элементов Вашего образа. 
				Макияж подчеркнет вашу индивидуальность, отношение к моде и настроение. 
				Данный вид макияжа должен сочетаться с платьем, украшениями, аксессуарами, а также с тематикой предполагаемой вечеринки.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 makeUpImages">
				<img src="~/images/ServicesImages/makeUpEvening.jpg" alt="makeUpPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
</main>

