
@{
    ViewBag.Title = "Мужской салон красоты";
}

<main class="container-fluid">
	<div class="row">
		<div id="manSalonTitleContainer" class="col-sm-10 col-sm-offset-1">
			<h2 class="manSalonItem">
				МУЖСКОЙ САЛОН КРАСОТЫ
			</h2>
		</div>
		<div id="manSalonDescription" class="col-sm-10 col-sm-offset-1">
			<p class="manSalonItem manSalonArticle">
				Вас окружат поистине королевским вниманием и предложат изысканный уход и высокий уровень сервиса.
				Вам не придется тратить много времени на посещение, если вы спешите: всего за 35 минут одновременно для вас выполнят стрижку, маникюр, педикюр и бритье.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 manSalonImages">
				<img src="~/images/ServicesImages/manSalon.jpg" alt="manSalonPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="manSalonItem manSalonTitle">
				ИСКУССТВО МУЖСКОЙ СТРИЖКИ
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="manSalonItem manSalonArticle">
				Парикмахеры­-эксперты салона Сkарлет всегда к Вашим услугам, чтобы обеспечить персональный уход:
				<br>
				<ul>
					<li>Диагностика состояния волос и кожи головы.</li>
					<li>Техника стрижки, массаж кожи головы, окрашивание.</li>
					<li>Лечение сухих, ломких, поврежденных волос, лечебные уходы жирной, сухой кожи головы, антивыпадение волос.</li>
				</ul>
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 manSalonImages">
				<img src="~/images/ServicesImages/manHairCut.jpg" alt="manSalonPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="manSalonItem manSalonTitle">
				КОРОЛЕВСКОЕ БРИТЬЕ
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="manSalonItem manSalonArticle">
				Выполняется мастером­-цирюльником в лучших традициях этого ремесла для того, чтобы кожа была безупречной и приятной на ощупь.
				Выполняется  опасной  бритвой  мастером­цирюльником  по  всем  канонам  этого  искусства:  лезвия меняются после каждого бритья.
			</p>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="manSalonItem manSalonArticle">
				Аккуратная  и  расслабляющая  процедура,  специальные  размягчающие  и  успокаивающие  средства, теплое полотенце, массаж. Метод  используется
				в  соответствии  с  традициями,  для  создания  современного  и  стильного  образа.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 manSalonImages">
				<img src="~/images/ServicesImages/manBeard.jpg" alt="manSalonPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
</main>

