
@{
    ViewBag.Title = "Массаж";
}

<main class="container-fluid">
	<div class="row">
		<div id="massageTitleContainer" class="col-sm-10 col-sm-offset-1">
			<h2 class="massageItem">
				МАССАЖ
			</h2>
		</div>
		<div id="massageDescription" class="col-sm-10 col-sm-offset-1">
			<p class="massageItem massageArticle">
				Массаж, выполненный с соблюдением техник, избавит организм от стресса и оздоровит тело.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 massageImages">
				<img src="~/images/ServicesImages/massage.jpg" alt="massagePhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="massageItem massageTitle">
				МАССАЖ КЛАССИЧЕСКИЙ
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="massageItem massageArticle">
				Классический массаж тела – это основной вид массажа, благоприятно влияющий на все органы и системы организма.
				Способствует устранению мышечных спазмов, головных болей и застоев лимфо- и кровотока . Снимает напряжение и усталость во всем теле.
			</p>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="massageItem massageArticle">
				Благодаря общему массажу значительно улучшается состояние, цвет и эластичность кожи, снимается усталость и мышечное напряжение, 
				улучшаются обменные процессы и повышается общий тонус организма. После процедуры ощущается легкость во всем теле . А регулярные сеансы ведут к повышению иммунитета, оздоровлению всего организма и отличного самочувствия .
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 massageImages">
				<img src="~/images/ServicesImages/massageClassic.jpg" alt="massagePhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="massageItem massageTitle">
				МАССАЖ РАССЛАБЛЯЮЩИЙ
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="massageItem massageArticle">
				Расслабляющий (релаксационный, антистрессовый) массаж – прежде всего чрезвычайно приятен и радует тело особенными ощущениями, которых большинству из нас не хватает.
			</p>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="massageItem massageArticle">
				Кроме приятных телесных ощущений, расслабляющий массаж приносит еще и огромную пользу здоровью и психологическому состоянию, даёт чувство психологического комфорта,
				уверенности в себе, повышает самооценку и любовь к собственному телу.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 massageImages">
				<img src="~/images/ServicesImages/massageRelax.jpg" alt="massagePhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="massageItem massageTitle">
				МАССАЖ АНТИЦЕЛЛЮЛИТНЫЙ
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="massageItem massageArticle">
				Антицеллюлитный массаж применяется с помощью специальных кремов и гелей, в состав которых входит кофеин, витамины группы А и много других полезных компонентов.
				Эти микроэлементы способны активно улучшать обменные процессы подкожно жировой клетчатки и выводить шлаки и токсины.
			</p>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="massageItem massageArticle">
				Антицеллюлитный массаж стимулирует выработку эластина и коллагена, повышает кровообращение и обеспечивает лимфодренаж. 
				Такой лечебный массаж делает более упругими мышцы бедер и ягодиц и ориентирован исключительно на подкожный жировой слой.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 massageImages">
				<img src="~/images/ServicesImages/massageAnti.jpg" alt="massagePhoto" class="img-responsive ">
			</div>
		</div>
	</div>
</main>

