
@{
    ViewBag.Title = "Ногтевой сервис";
}

<main class="container-fluid">
	<div class="row">
		<div id="nailsTitleContainer" class="col-sm-10 col-sm-offset-1">
			<h2 class="nailsItem">
				НОГТЕВОЙ СЕРВИС
			</h2>
		</div>
		<div id="nailsDescription" class="col-sm-10 col-sm-offset-1">
			<p class="nailsItem nailsArticle">
				Заботясь о собственной красоте, нельзя забывать об уходе рук и ног, состоянии кожи и здоровье ногтей, которые не меньше других частей
				тела нуждаются в пристальном внимании. Поможет в этом одно из самых распространенных направлений в сфере красоты – ногтевой сервис.  
			</p>
		</div>
		<div id="nailsDescription" class="col-sm-10 col-sm-offset-1">
			<p class="nailsItem nailsArticle">
				Именно нашим искусным мастерам удается сохранять красоту и молодость кожи рук и ног, бороться с ломкостью и врастанием ногтей,
				создавать яркие праздничные шедевры для особых случаев.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 nailsImages">
				<img src="~/images/ServicesImages/nailsService.jpg" alt="nailsPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="nailsItem nailsTitle">
				МАНИКЮР
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="nailsItem nailsArticle">
				Маникюр — процедура, которая позволит привести Ваши ручки в порядок, улучшить внешний вид и состояние ногтей.
				Процедура маникюра может производиться различными способами, наши мастера предложат наиболее эффективный
				способ обработки с учетом особенностей Ваших ногтей.
			</p>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="nailsItem nailsArticle">
				Специальные стойкие ногтевые покрытия позволят Вам наслаждаться сделанным маникюром на протяжении нескольких недель. 
				Выбор стойких и обычных покрытий сегодня колоссален: матовые и глянцевые, полупрозрачные и плотные, с эффектом кракелюра, 
				голограммы, с блестками, мерцанием. Ваши ногти могут быть оформлены в любом стиле, от сдержанной классики до экстравагантного шика.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 nailsImages">
				<img src="~/images/ServicesImages/nailsDesign1.jpg" alt="nailsPhoto" class="img-responsive ">
				<img src="~/images/ServicesImages/nailsDesign2.jpg" alt="nailsPhoto" class="img-responsive ">
				<img src="~/images/ServicesImages/nailsDesign3.jpg" alt="nailsPhoto" class="img-responsive imgNails">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h3 class="nailsItem nailsTitle">
				ПЕДИКЮР
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="nailsItem nailsArticle">
				Первым средством гигиены и профилактики заболеваний кожи и ногтей ног является педикюр. Регулярное посещение мастера
				педикюра позволяет поддерживать ногти и кожу ног в здоровом состоянии. Удаление наростов кожи ступней освобождает выход токсинам 
				из организма и дает возможность ему лучше дышать.
			</p>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="nailsItem nailsArticle">
				Для современного человека потребность в регулярном профессиональном педикюре диктуется его требованиями к определенному качеству жизни. 
				Такие неприятности, как мозоли, натоптыши, вросший ноготь и т.п. Педикюр – элементарное профилактическое средство, позволяющее избежать этих неприятностей. 
				Предупреждать всегда легче, чем лечить.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 nailsImages">
				<img src="~/images/ServicesImages/pedicure.jpg" alt="nailsPhoto" class="img-responsive ">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<p class="nailsItem nailsArticle">
				Порадуйте свои ручки и ножки профессиональным уходом в салоне красоты Сkарлет. Мы уверены, Вам понравится, и Вы придете к нам снова, как и большинство наших восторженных клиентов.
			</p>
		</div>
	</div>
</main>

