
@{
    ViewBag.Title = "Наша команда";
}

<main class="container-fluid">
	<div class="row">
		<div id="teamTitleContainer" class="col-sm-10 col-sm-offset-1">
			<h2 class="teamItem">
				НАША КОМАНДА
			</h2>
		</div>
		<div id="teamDescription" class="col-sm-10 col-sm-offset-1">
			<p class="teamItem teamArticle">
				Команда нашего салона состоит из талантливых профессионалов и энтузиастов своей сферы. 
				Опытные мастера, получившие образование в центрах подготовки и обучения, с большим удовольствием помогут клиенту преобразоваться.
			</p>
		</div>
	</div>
	<div class="row teamRow">
		<div class="col-sm-3 teamBorder">
			<a href="~/images/OurTeam/Goncharuk-Anna.jpg" target="_blank">
				<img src="~/images/OurTeam/Goncharuk-Anna.jpg" alt="teamFoto" style="width:100%">
				<div class="caption">
					<p class="teamTitle">Анна Гончарук</p>
					<p class="teamTitle">Администратор</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3 teamBorder">
			<a href="~/images/OurTeam/Nademskaya-Tamara.jpg" target="_blank">
				<img src="~/images/OurTeam/Nademskaya-Tamara.jpg" alt="teamFoto" style="width:100%">
				<div class="caption">
					<p class="teamTitle">Тамара Надемская</p>
					<p class="teamTitle">Администратор</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3 teamBorder">
			<a href="~/images/OurTeam/Logvina-Liliya.jpg" target="_blank">
				<img src="~/images/OurTeam/Logvina-Liliya.jpg" alt="teamFoto" style="width:100%">
				<div class="caption">
					<p class="teamTitle">Лилия Логвина</p>
					<p class="teamTitle">Парикмахер-стилист</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row teamRow">
		<div class="col-sm-3 teamBorder">
			<a href="~/images/OurTeam/Mitryakova-Aleksandra.jpg" target="_blank">
				<img src="~/images/OurTeam/Mitryakova-Aleksandra.jpg" alt="teamFoto" style="width:100%">
				<div class="caption">
					<p class="teamTitle">Александра Митрякова</p>
					<p class="teamTitle">Парикмахер-стилист</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3 teamBorder">
			<a href="~/images/OurTeam/Myronenko-Lyudmila.jpg" target="_blank">
				<img src="~/images/OurTeam/Myronenko-Lyudmila.jpg" alt="teamFoto" style="width:100%">
				<div class="caption">
					<p class="teamTitle">Людмила Мироненко</p>
					<p class="teamTitle">Мастер маникюра</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3 teamBorder">
			<a href="~/images/OurTeam/Saenko-Tatyana.jpg" target="_blank">
				<img src="~/images/OurTeam/Saenko-Tatyana.jpg" alt="teamFoto" style="width:100%">
				<div class="caption">
					<p class="teamTitle">Татьяна Саенко</p>
					<p class="teamTitle">Косметолог</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row teamRow">
		<div class="col-sm-3 teamBorder">
			<a href="~/images/OurTeam/Mitryakova-Aleksandra.jpg" target="_blank">
				<img src="~/images/OurTeam/Mitryakova-Aleksandra.jpg" alt="teamFoto" style="width:100%">
				<div class="caption">
					<p class="teamTitle">Мария Заика</p>
					<p class="teamTitle">Массажист</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3 teamBorder">
			<a href="~/images/OurTeam/Danilov-Vyacheslav.jpg" target="_blank">
				<img src="~/images/OurTeam/Danilov-Vyacheslav.jpg" alt="teamFoto" style="width:100%">
				<div class="caption">
					<p class="teamTitle">Вячеслав Данилов</p>
					<p class="teamTitle">Парикмахер-стилист</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3 teamBorder">
			<a href="~/images/OurTeam/Miroshnichenko-Katerina.jpg" target="_blank">
				<img src="~/images/OurTeam/Miroshnichenko-Katerina.jpg" alt="teamFoto" style="width:100%">
				<div class="caption">
					<p class="teamTitle">Екатерина Мирошниченко</p>
					<p class="teamTitle">Мастер маникюра</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row teamRow">
		<div class="col-sm-3 teamBorder">
			<a href="~/images/OurTeam/Sepanta.jpg" target="_blank">
				<img src="~/images/OurTeam/Sepanta.jpg" alt="teamFoto" style="width:100%">
				<div class="caption">
					<p class="teamTitle">Сепанта Салехи</p>
					<p class="teamTitle">Мастер-стилист</p>
				</div>
			</a>
		</div>
	</div>
</main>
